<main>
  <div class="side leftSeven">
    <h3 class="centerThis">
      <a href="/find">
        <img src="" alt="Magnifying Glass" />
        Find Equipment
      </a>
    </h3>
  </div>
  <div class="side rightThree">
    <h3 class="centerThis">
      <a href="/donate">
        <img src="" alt="First Aid" />
        Donate
      </a>
    </h3>
  </div>
</main>
