<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>OMDB Search</title>
    <base href="/">
    <link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title">
   </head>
  <body>
    <div>
      {{{body}}}
    </div>
    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
