<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>OMDB Search</title>
    <base href="/">
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title">
    <style media="screen">
      html {
        background-image: url('http://neselects.com/wp-content/uploads/2015/05/hockey-rink-background-min.jpg');
        background-size: cover;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
      }

      body {
        background: none;
        padding: 5px 10px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      .myMain {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }


      .loginJumbo {
        width: 100%;
        height: auto;
        background: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .loginForm {
        background-color: rgba(0,0,0,0.5);
        padding: 30px;
        width: 100%;
        color: white;
      }

      .side {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 5px solid black;
        border-radius: 25px;
        height: 400px;
        margin-right: 50px;
        margin-top: 50px;
      }

      .leftSeventy {
        width: 70%;
        margin-left: 50px;
        background-color: rgba(128,128,128,0.8);
      }

      .rightThirty {
        width: 30%;
        background-color: rgba(0,0,0,0.5);
      }

      .whiteHeader {
        color: white;
        font-weight: bold;
      }

      .blueHeader {
        color: navy;
        font-weight: bold;
      }

      .introParagraph {
        color: black;
        padding: 10px 0px;
        font-size: 16px;
        font-weight: bold;
      }
    </style>
   </head>
  <body>
    <div>
      {{{body}}}
    </div>
    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
