html {
  background-image: url('/images/background.jpg');
  background-size: 100%;
}

body {
  background: none;
  padding: 5px 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
